.buttonUp , .buttonDown{
    font-family: principal;
    font-size: x-large;
    padding: 10px;
    color: white;
    border-radius: 20px;
    border: none;
    width: 100px;
}

.buttonUp{
    background-color: rgb(16, 100, 16);
}

.buttonDown{
    background-color: rgb(125, 22, 22);
}

button:disabled {
    background-color: grey;
}
